<div class="header">
  <div class="header-content">
    <div class="logo-container">
      <mat-icon [inline]="true" fontSet="material-symbols-outlined">travel</mat-icon>
      <mat-icon [inline]="true" fontSet="material-symbols-outlined">train</mat-icon>
      <mat-icon [inline]="true" fontSet="material-symbols-outlined">directions_boat</mat-icon>
    </div>
    <div class="app-title">
      <h1>
        {{'app.title' | translate}}
      </h1>
    </div>
  </div>
</div>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
@if(store.isLoading()) {
<div class="spinner-container">
  <mat-spinner [hidden]="!store.isLoading()"></mat-spinner>
</div>
}