<div class="detail-container">
  <a class="back" [routerLink]="['/trips']">
    <mat-icon fontIcon="arrow_back_ios"></mat-icon>
    Back to list
  </a>
  @if(tripDetail) {
  <div class="detail">
    <!-- column 1 row 1 -->
    <div class="title">{{tripDetail.title}}</div>
    <!-- column 1 row 2 -->
    <img [src]="tripDetail.image" alt="Trip" />

    <!-- column 2 row 1 -->
    <div class="ratings-box">
      <div class="rating">
        {{tripDetail.rating}}
        <mat-icon fontIcon="star"></mat-icon>
      </div>
      <div class="ratings-number">
        Based on
        {{tripDetail.nrOfRatings}}
        reviews.
      </div>
    </div>
    <!-- column 2 row 2 -->
    <div class="trip-info">
      <div class="mix-info">
        <p class="description">
          {{tripDetail.description}}
        </p>

        <div class="tags-container">
          <p class="tags-description">
            Our costumers say this is one of the best for:
          </p>
          <div class="tags-list">
            @for(tag of tripDetail.tags; track $index) {
            <span class="tag {{tag}}">{{tag}}</span>
            }
          </div>
        </div>

        <div class="co2-info">
          <p>
            We care about our planet, trying our best to avoid any eccessive pollution when planning our trips.
          </p>
          This trip consumes {{tripDetail.co2}} Co2.
        </div>
      </div>

      <div class="price-and-buy">
        <span class="price">
          € {{tripDetail.price}}
        </span>
        <span class="taxes-info">
          All taxes included
        </span>
        <button>Buy now</button>
      </div>
    </div>
  </div>
  }
</div>