<div class="detail-container">
  <a class="back" [routerLink]="['/trips']">
    <mat-icon fontIcon="arrow_back_ios"></mat-icon>
    <ng-container i18n>
      {{'app.trip.back' | translate}}
    </ng-container>
  </a>
  @if(tripDetail) {
  <div class="detail">
    <!-- column 1 row 1 -->
    <div class="title">{{tripDetail.title}}</div>
    <!-- column 1 row 2 -->
    <img [src]="image" alt="Trip" (error)="image = 'https://picsum.photos/600/800'" />

    <!-- column 2 row 1 -->
    <div class="ratings-box">
      <div class="rating">
        {{tripDetail.rating}}
        <mat-icon fontIcon="star"></mat-icon>
      </div>
      <div class="ratings-number">
        {{ 'app.trip.review' | translate:{reviewNumber:tripDetail.nrOfRatings} }}
      </div>
    </div>
    <!-- column 2 row 2 -->
    <div class="trip-info">
      <div class="mix-info">
        <p class="description">
          {{tripDetail.description}}
        </p>

        <app-tags-list [tags]="tripDetail.tags"></app-tags-list>


        <div class="score-section">
          <div class="score-title" [innerHTML]="'app.trip.score.title' | translate"></div>

          <div class="text">
            <div class="index-criterion">{{"app.trip.score.rating" | translate}}</div>
            <div class="index-criterion">{{"app.trip.score.reviews" | translate}}</div>
            <div class="index-criterion">{{"app.trip.score.co2" | translate}}</div>
          </div>

          <div class="score-badge">
            <app-score-badge [rating]="tripDetail.rating" [ratingsNumber]="tripDetail.nrOfRatings"
              [co2]="tripDetail.co2"></app-score-badge>
          </div>
        </div>
      </div>

      <div class="bottom-section">
        <div class="co2-info">
          <p>
            {{'app.trip.consumesIntro' | translate}}
          </p>
          <div class="co2-consume">
            {{ 'app.trip.consumesText' | translate:{co2:tripDetail.co2} }}
          </div>
        </div>
        <div class="price-and-buy">
          <span class="price">
            € {{tripDetail.price}}
          </span>
          <span class="taxes-info">
            {{'app.trip.taxes' | translate}}
          </span>
          <button>
            {{'app.trip.buy' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
  }
</div>