.detail-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  .back {
    display: flex;
    align-items: center;
    padding-top: 1.6rem;
    font-weight: 500;
  }

  .detail {
    padding: 1.6rem;
    border: 1px solid lightgrey;
    border-radius: 0.8rem;
    display: grid;
    grid-template-columns: -webkit-max-content auto;
    grid-template-columns: max-content auto;
    gap: 1.6rem;

    .title {
      font-size: 3.5rem;
      font-weight: 600;
      text-decoration: none;
      color: #3560ab;
    }

    .description {
      font-size: 2.5rem;
      font-weight: 500;
      color: #3560ab;
    }

    .ratings-box {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 0.8rem;
      grid-row: 1;
      grid-column: 2;

      .rating {
        display: flex;
        align-items: center;
        gap: 0.4rem;

        mat-icon {
          color: orange;
        }
      }
    }

    img {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      min-width: 60rem;
      border-radius: 0.8rem;
      grid-row: 2;
    }

    .trip-info {
      grid-row: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .mix-info {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        padding: 1.6rem;

        .description {
          font-size: 2rem;
          margin-bottom: 2rem;
        }

        .co2-info {
          border: 2px solid #3560ab;
          padding: 1.6rem;
          border-radius: 0.4rem;
          font-size: 1.4rem;

          .co2-consume {
            margin-top: 1.6rem;
          }
        }
      }

      .price-and-buy {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: flex-end;

        .price {
          font-size: 3rem;
          font-weight: 600;
          color: #00bcd6;
        }

        .taxes-info {
          color: grey;
          font-size: 1.2rem;
        }
      }
    }
  }
}