<div class="card">
  <div class="thumbnail">
    <a [routerLink]="['/trips/'+trip().id]">
      <img [src]="trip().thumbnail" alt="Trip thumbnail" />
    </a>
  </div>
  <div class="title-tags-container">
    <a class="title" [routerLink]="['/trips/'+trip().id]">
      {{trip().title}}
    </a>

    <app-tags-list [tags]="trip().tags" [withText]="false"></app-tags-list>
  </div>
  <div class="right-section">
    <div class="ratings-box">
      <div class="rating">
        {{trip().rating}}
        <mat-icon fontIcon="star"></mat-icon>
      </div>
      <div class="ratings-number">
        {{ 'app.trip.review' | translate:{reviewNumber:trip().nrOfRatings} }}
      </div>
    </div>

    <div class="price">
      € {{trip().price}}
    </div>
  </div>
</div>